@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
html, body {height:100%;}
body {margin:0;padding:0;}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.centericon {
    display: block;
    margin-top: auto;
    text-align: center;
    position: absolute;
    bottom: 1px;
    width: 100%;
    margin-bottom: 20px;
    }
.icon-arrow-down:before {
    content: "\e600";
}

.first-section {
    background-image: url('//cdn1.editmysite.com/uploads/2/5/1/1/25119796/background-images/1222348228.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 3px;
}
.pushtop {
    margin-bottom:5%;
    margin-top:15%;
}
.third-section {
    background-color: rgba(31,31,31,0.9);
}
.footertext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top:10px;
    color:rgba(255,255,255,0.1);
    float:right;
}

.carbon {
    color:rgba(255,255,255,0.5);
}
.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header {
    font-size:60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:white;
    margin-top:110px;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}
.left-text {
    color:white;
}
.icon-arrow-down:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
}
.icon-arrow-down {
    font-size:50px;
    color: rgba(255,255,255,0.5);
}
/*Form*/
.form-wrapper {
    background-color:rgba(31,31,31,0.5);
    width:300px;
    padding-right:310px;
    padding-left:10px;
    padding-bottom:10px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
}
.form-width {
    width:300px;
}
.fail {
    border:solid 3px red !important;
}
.form-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:700;
    color:white;
    padding-top:10px;
    margin-left:10px;
}
.form-sub {
    margin-left:10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
    color:white;
    font-size:14px;
}
.form-half input {
    width:148px;
    display:inline;
}
.form-third input {
    width:97px;
    display:inline;
    margin-top:5px;
}
.form-full input, .form-full select, .form-full button {
    width:300px;
    padding-left:5px;
    margin-top:5px;
}
.form-full button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:700;
    color:white;
    font-size:26px;
}
@media (max-width:400px) {
    .pushtop {
        margin-top: 10px;
    }
    .header {
        margin-top:10px;
        font-size:40px;
    }
    .form-wrapper {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:70px;
    }
    .centericon {
        display:none;
    }
    .first-section {
        padding-bottom:50px;
    }
}
@media (max-width:768px) {
    .pushtop {
        margin-top: 30px;
    }
    .header {
        margin-top:10px;
        font-size:40px;
    }
    .form-wrapper {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .first-section > .container {
        padding-left:0px;
        padding-right:0px;
    }
    .first-section {
        min-height: 560px;
    }
    .row {
        margin-left:0px;
        margin-right:0px;
    }
}
/*section2*/
.second-section {
    background-color:#EFEFEF;
    padding-top:50px;
    padding-bottom:50px;
}
.small-head {
    font-size:26px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: rgba(31,31,31,.8);
}
.welcome {
    text-align: center;
    font-size: 59px;
    line-height:73px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: rgba(31,31,31,.8);
}
.small-text {
    font-size:18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 26px;
}
.small_divider {
    width:75px;
    border: 0;
    height: 0;
    margin-bottom:80px;
    margin-left:auto;
    margin-right:auto;
    border-top: 2px solid rgba(31,31,31,.8);
    border-bottom: 2px solid rgba(31,31,31,.8);
}
.mbottom50 {
    margin-bottom: 50px;
}
/*VIDEO*/
@media (max-width: 1200px) {
    .video {
        height:300px !important;
        width:100% !important;
    }
}
@media (max-width: 563px) {
    .video {
        height:237px !important;
        width:100% !important;
    }
}
@media (max-width: 400px) {
    .video {
        height:225px !important;
        width:100% !important;
    }
}
.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}